{% extends "base.html.twig" %}

{% block title %}Ajout catégorie{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button type="submit">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}